<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="containerBodyDj">
  <div class="containerCenterDj">
    <div class="containerDj">
      <p class="titleInicial">NODO INICIAL: <%= cacheU %></p>

      <% arrOb.forEach(function(obj) { %>
          <p class="ciudad"><%= cacheU %> -> <%= obj.ciudad %></p>
            <P class="rutaDj"> RUTA:</P><% if (obj.ruta === null) { %>
              <P class="noRutas">No hay ruta entre los dos</P>
            <% } else { %>
              <%= obj.ruta %>
            <% } %>
          <hr>
      <% }); %>

    </div>              
  </div>
</div>
</body>
</html>