<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="body">
    <div class="containerRegister">
        <p class="titleRegister" >Registrate</p> 
        <div class="containerLink">
            <p class="textLogin">ya tienes una cuenta? </p><a class="linkLogin" href="/login" id="">Inicia sesion</a>
        </div>
    </div>
    
    <div class="containerBodyRegister">
        <div class="containerRegister">
            <div class="centerRegister">
                <form action="/" method="post">
                    <p class="textUser">Correo</p>
                    <input class="inputRegister" type="text" name="email">
                    <p class="textUser">Contraseña</p>
                    <input class="inputRegister" type="password" name="pass">
                    <button class="buttonRegister">Registrate</button>
                    <div class="errorSystem">
                        <% if (error) { %>
                            <p><%= error %></p>
                          <% } %>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
</body>
</html>

