<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/login" method="post">
        <p >Usuario</p>
        <input  type="text" name="email">
        <p >Contraseña</p>
        <input type="password" name="pass">
        <button >ingresar</button>
        <div class="errorSystem">
            <% if (error) { %>
                <p><%= error %>!</p>
              <% } else { %>
                
              <% } %>
        </div>
    </form>
</body>
</html>