<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    
    <div class="containerlogin">
        <p class="titleLogin" >Logeate</p> 
        <div class="loginLink">
            <p class="textRegister">aun no tienes una cuenta? </p><a class="linkRegister" href="/" id="">Registrate</a>
        </div>
    </div>
    </div>
    <div class="containerBodyLogin">
        <div class="containerLogin">
            <div class="centerLogin">
                <form action="/login" method="post">
                    <p class="loginUser">Correo</p>
                    <input class="inputLogin" type="text" name="email">
                    <p class="loginUser">Contraseña</p>
                    <input class="inputLogin" type="password" name="pass">
                    <button class="buttonLogin">Registrate</button>
                    <div class="errorSystem">
                        <% if (error) { %>
                            <p><%= error %></p>
                        <% } %>
                    </div>
                </form>
            </div>
        </div>
    </div>
        
</body>
</html>