<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/login" method="post">
        <p class="textUser">Correo</p>
        <input class="inputRegister" type="text" name="email">
        <p class="textUser">Contraseña</p>
        <input class="inputRegister" type="password" name="pass">
        <button class="buttonRegister">Logeate</button>
        <div class="errorSystem">
            <% if (error) { %>
                <p><%= error %></p>
              <% } %>
        </div>
    </form>
</body>
</html>