<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/room" method="post" enctype="multipart/form-data">
        <p>archivo json</p>
        <input type="file" accept=".json" required name="archivoJson">
        <button>sube</button>
    </form>
</body>
</html>