<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="title">
        <p class="titleGraph">Geomtry graph</p>
    </div>

    <div class="container">
        <div class="containerBodyRoom">
            <div class="containerRoom">
                <div class="archivoJson">
                    <form action="/room" method="post" enctype="multipart/form-data">
                        <img class="imgJson" src="/img/json.png" alt="imagen ">
                        <p class="textJson">Archivo json</p> <br>
                        <input type="file" accept=".json" required name="archivoJson" class="Json"> <br>
                        <button class="buttonJson">sube</button> <br>
                    </form>
                </div>
                    <div class="escribirNodo">
                        <form action="/dataN" method="post" name="nodoform">
                            <p class="titleNodo">Nodo</p> <br>
                            <input class="inputNodo" type="text" name="nombre" id="" placeholder="nombre"> <br>
                            <input class="inputNodo" type="text" name="posX" id="" placeholder="Posicion X"><br>
                            <input class="inputNodo" type="text" name="posY" id="" placeholder="Posicion Y"> <br>
                            <button class="buttonNodo">sube</button>
                        </form>
                    </div>
                    <div class="escribirConexion">
                        <form action="/dataC" method="post" name="conexionform">
                            <p class="titleConexion">Conexion</p> <br>
                            <input class="inputConexion" class="" type="text" name="priUb" id="" placeholder="Primera Ubicacion"><br>
                            <input class="inputConexion" type="text" name="secUb" id="" placeholder="Segunda Ubicacion"> <br>
                            <input class="inputConexion" type="text" name="peso" id="" placeholder="Peso"> <br>
                            <button class="buttonConexion">sube</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="containerSiguiente">
                <form action="/carte" method="post">
                    <p class="textDatos">ya cargaste tus datos? dale click al boton para seguir</p>
                    <button class="buttonSiguiente">sigue</button>
                </form>
            </div>
        </div>  
    </div>
    <% if (error) { %>
        <p><%= error %></p>
    <% } %>
</body>
</html>