<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/room" method="post" enctype="multipart/form-data">
        <p>archivo json</p>
        <input type="file" accept=".json" required name="archivoJson">
        <button>sube</button>
    </form>

    <form action="/dataN" method="post" name="nodoform">
        <p>ecribelo </p>
        <h1>Nodo</h1><input type="text" name="nombre" id="" placeholder="nombre"> <input type="text" name="posX" id="" placeholder="Posicion X"> <input type="text" name="posY" id="" placeholder="Posicion Y">
        <button>sube</button>
    </form>
    <form action="/dataC" method="post" name="conexionform">
        <p>escribelo</p>
        <h1>Conexion</h1><input type="text" name="priUb" id="" placeholder="Primera Ubicacion"> <input type="text" name="secUb" id="" placeholder="Segunda Ubicacion"> <input type="text" name="peso" id="" placeholder="Peso">
        <button>sube</button>
    </form>

    <% if (error) { %>
        <p><%= error %></p>
    <% } %>
    <form action="/carte" method="post">
    <h1>ya cargaste tus datos? dale click al boton para seguir</h1><button>sigue</button>
    </form>
</body>
</html>