@use 'moduls'; 

body{
    background-color: moduls.$backgroundColor; 
}

// register header
.containerRegister{
    display: flex;
    align-items: center;
    justify-content: center;
    color: moduls.$colorLetter;
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;

    .titleRegister{
        font-size: 25px;
        font-weight: bold;
    }

    .containerLink{
        display: flex;
        align-items: center;
        justify-content: center;
    
    .textLogin{
        color: moduls.$colorLetter;
        font-size: 18px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .linkLogin{
        color: moduls.$colorLetter;
        text-decoration: none;
        font-size: 20px;
        
    }
    .linkLogin:hover{
        text-decoration: underline;
        opacity: 0.5;
    }
    }
}


// register body

.containerBodyRegister{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .containerRegister{
        @include moduls.container();
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .centerRegister{
        margin-left: auto;
        margin-right: auto;
        width: 260px;
    }
    .textUser{
        margin: 20px 0px 20px 0px;
    }
    .inputRegister{
        @include moduls.inputs();
        width: 260px;
        height: 25px;
    }
    .buttonRegister{
        @include moduls.boton();
        border: 0px;
        margin-top: 20px;
        width: 267px;
        height: 35px;
    }
    .errorSystem{
        margin-left: auto;
        margin-right: auto;
        width: 265px;
        text-align: center;
    }
    .buttonRegister:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonRegister:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }
}

// login------------------header
.containerlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    color: moduls.$colorLetter;
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;

    .titleLogin{
        font-size: 25px;
        font-weight: bold;
    }

    .loginLink{
        display: flex;
        align-items: center;
        justify-content: center;
    
    .textRegister{
        color: moduls.$colorLetter;
        font-size: 18px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .linkRegister{
        color: moduls.$colorLetter;
        text-decoration: none;
        font-size: 20px;
        
    }
    .linkRegister:hover{
        text-decoration: underline;
        opacity: 0.5;
    }
    }
}


// login-------------------- body

.containerBodyLogin{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .containerLogin{
        @include moduls.container();
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .centerLogin{
        margin-left: auto;
        margin-right: auto;
        width: 260px;
    }
    .loginUser{
        margin: 20px 0px 20px 0px;
    }
    .inputLogin{
        @include moduls.inputs();
        width: 260px;
        height: 25px;
    }
    .buttonLogin{
        @include moduls.boton();
        border: 0px;
        margin-top: 20px;
        width: 267px;
        height: 35px;
    }
    .errorSystem{
        margin-left: auto;
        margin-right: auto;
        width: 265px;
        text-align: center;
    }
    .buttonLogin:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonLogin:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }
}

// -------mensaje error


.containerError{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    .mensajeError{
        text-align: center;
        border-radius: 10px;
        border: solid rgb(45, 41, 41) 2px;
        
    }
   
    .containerImgErr{
        margin-left: 1.3cm ;
        display: flex;
        // background-color: red;      
        align-items: center;
        justify-content: center;
        width: 550px;
    }

    .imgErr{
        width: 250px;
        height: 350px;
    }
    .textErr{
        margin-top: 50%;
        font-weight: bold;
        font-size: 25px;
        margin-right: 0px;
    }
    .buttonErr{
        margin: 10px 0px 15px 0px ;
        @include moduls.boton();
        border: 0px;
        width: 267px;
        height: 35px;
        font-weight: bold;
    }
    .buttonErr:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonErr:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }
    .errText{
        margin: 0px 0px 10px 0px;
        font-size: 25px;
    }
    
}