@use 'moduls'; 

body{
    background-color: moduls.$backgroundColor;
    margin: 0; 
}

.containerRegister{
    display: flex;
    align-items: center;
    justify-content: center;
    color: moduls.$colorLetter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 80px;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;

    .titleRegister{
        font-size: 25px;
        font-weight: bold;
    }

    .containerLink{
        display: flex;
        align-items: center;
        justify-content: center;
    
    .textLogin{
        color: moduls.$colorLetter;
        font-size: 18px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .linkLogin{
        color: moduls.$colorLetter;
        text-decoration: none;
        font-size: 20px;
        
    }
    .linkLogin:hover{
        text-decoration: underline;
        opacity: 0.5;
    }
    }
}



.containerBodyRegister{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .containerRegister{
        @include moduls.container();
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .centerRegister{
        margin-left: auto;
        margin-right: auto;
        width: 260px;
    }
    .textUser{
        margin: 20px 0px 20px 0px;
    }
    .inputRegister{
        @include moduls.inputs();
        width: 260px;
        height: 25px;
    }
    .buttonRegister{
        @include moduls.boton();
        border: 0px;
        margin-top: 20px;
        width: 267px;
        height: 35px;
    }
    .errorSystem{
        margin-left: auto;
        margin-right: auto;
        width: 265px;
        text-align: center;
    }
    .buttonRegister:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonRegister:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }
}
.err{
    margin: 0px 0px 5px 0px;
}
.containerlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    color: moduls.$colorLetter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 80px;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;

    .titleLogin{
        font-size: 25px;
        font-weight: bold;
    }

    .loginLink{
        display: flex;
        align-items: center;
        justify-content: center;
    
    .textRegister{
        color: moduls.$colorLetter;
        font-size: 18px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .linkRegister{
        color: moduls.$colorLetter;
        text-decoration: none;
        font-size: 20px;
        
    }
    .linkRegister:hover{
        text-decoration: underline;
        opacity: 0.5;
    }
    }
}



.containerBodyLogin{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .containerLogin{
        @include moduls.container();
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .centerLogin{
        margin-left: auto;
        margin-right: auto;
        width: 260px;
    }
    .loginUser{
        margin: 20px 0px 20px 0px;
    }
    .inputLogin{
        @include moduls.inputs();
        width: 260px;
        height: 25px;
    }
    .buttonLogin{
        @include moduls.boton();
        border: 0px;
        margin-top: 20px;
        width: 267px;
        height: 35px;
    }
    .errorSystem{
        margin-left: auto;
        margin-right: auto;
        width: 265px;
        text-align: center;
    }
    .buttonLogin:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonLogin:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }
}



.containerError{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    
    .mensajeError{
        text-align: center;
        border-radius: 10px;
        border: solid rgb(45, 41, 41) 2px;
        
    }
   
    .containerImgErr{
        margin-left: 1.3cm ;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 550px;
    }

    .imgErr{
        width: 250px;
        height: 350px;
    }
    .textErr{
        margin-top: 50%;
        font-weight: bold;
        font-size: 25px;
        margin-right: 0px;
    }
    .buttonErr{
        margin: 10px 0px 15px 0px ;
        @include moduls.boton();
        border: 0px;
        width: 267px;
        height: 35px;
        
    }
        
    .linkErr{
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 15px;
    }
    .buttonErr:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonErr:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }
    .errText{
        margin: 0px 0px 10px 0px;
        font-size: 25px;
    }
    
}


// estilos subir archivo 
.containerSiguiente{
    text-align: center;
    justify-content: center;
    .errorsystem{
        margin-left: auto;
        margin-right: auto;
        width: 265px;
        text-align: center;
        color: white;
        font-size: 25px;
    }
    .textDatos{
        color: white;
        font-size: 25px; 
        margin: 0px 0px 0px 0px; 
    }
    .buttonSiguiente{
        @include moduls.boton();
        border: 0px;
        width: 100px;
        height: 35px;
        margin: 10px 1px 0px 0px;
    }
    .buttonSiguiente:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonSiguiente:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }
}
.title{
    color: white;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    .titleGraph{
        margin: 30px 0px 0px 0px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}
.containerBodyRoom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    .containerRoom{
        border: solid rgb(45, 41, 41) 1px;
        border-radius: 10px;
        background-color: moduls.$backgroundForm;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .archivoJson{
        text-align: center;
    }
    .textJson{
        font-size: 25px; 
        margin: 0px 0px 0px 0px; 
        color: white; 
    }
    .Json{
        color: white; 
    }
   
    
    .buttonJson{
        @include moduls.boton();
        border: 0px;
        width: 100px;
        height: 35px;
        margin: 10px 1px 0px 0px;
    }
    .buttonJson:hover{
        transform: scale(1.01);
        transition: 0.2s;
    }
    .buttonJson:not(:hover){
        transform: scale(1);
        transition: 0.4s;
    }
    .imgJson{
        height: 180px;
    }

    .escribirNodo{
        text-align: center;
        justify-content: center;
        margin: 0px 10px 0px 40px ;
        .titleNodo{
            color: white;
            font-size: 25px; 
            margin: 0px 0px 0px 0px; 
        }
        .inputNodo{
            @include moduls.inputs();
            background-color: white;
            color: black;
            width: 200px;
            height: 25px;
            margin: 10px 0px 0px 0px;
        }
        .buttonNodo{
            @include moduls.boton();
            border: 0px;
            width: 100px;
            height: 35px;
            margin: 10px 1px 0px 0px;
        }
        .buttonNodo:hover{
            transform: scale(1.01);
            transition: 0.2s;
        }
        .buttonNodo:not(:hover){
            transform: scale(1);
            transition: 0.4s;
        }
        
    }

    .escribirConexion{
        text-align: center;
        justify-content: center;
        .titleConexion{
            color: white;
            font-size: 25px; 
            margin: 0px 0px 0px 0px; 
        }
        .inputConexion{
            @include moduls.inputs();
            background-color: white;
            color: black;
            width: 200px;
            height: 25px;
            margin: 10px 0px 0px 0px;
        }
        .buttonConexion{
            @include moduls.boton();
            border: 0px;
            width: 100px;
            height: 35px;
            margin: 10px 1px 0px 0px;
        }
        .buttonConexion:hover{
            transform: scale(1.01);
            transition: 0.2s;
        }
        .buttonConexion:not(:hover){
            transform: scale(1);
            transition: 0.4s;
        }
    }
    
}